
<header>
    <div class="top">
        <%= image_tag("profile.jpg", :id => "icon") %>
        <!--<img src="/assets/profile.jpg" id="icon">-->
        <span id="myname">tukane</span>
        
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="https://twitter.com/tukaneeee08" target="_blank">Twitter</a></li>
                <li><a href="" target="_blank">Instagram</a></li>
                <li><a href="" target="_blank">Facebook</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <h2>自己紹介</h2>
    <div class="profile">
        <p>プログラミングを勉強してたら新卒の12倍の収入になり、そのまま大学をやめたフリーランスエンジニア。 <br>
        アプリ開発しながら、 中高生から大人まで3000人以上にプログラミングを教えてきました。 <br>
        ブログは月18万PV / Kindle教育カテゴリ1位</p>
        <hr>
        <p>1992年12月8日生まれ</p>
        <p>神奈川県横浜市出身</p>
        <p>明治大学農学研究科</p>
    </div>
</div>
<footer>
    <p>&copy;YuToko</p>
</footer>